:global(.leaflet-popup) .popup-info {
  &__dealer-name {
    margin: 0 0 0.25rem 0;
    font-size: 1rem;
    font-weight: 600;
  }

  &__address {
    color: #777;

    &-line {
      margin: 0;
      font-size: 12px;
    }
  }

  &__actions {
    margin-top: 1rem;
  }
}
